1.Importing Library

In [432]:
import pandas as pd
import numpy as np
import seaborn as sns

2.Import data

In [433]:
data = pd.read_excel('../resources/data/loan_data.xlsx')
data.head()

,ID,Age,Gender,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Home Ownership,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,M,1,49.0,91107,4,1.6,1,0,Home Owner,0,1,0,0.0,0
1,2,45,M,19,34.0,90089,3,1.5,1,0,Rent,0,1,0,0.0,0
2,3,39,M,15,11.0,94720,1,1.0,1,0,Rent,0,0,0,0.0,0
3,4,35,M,9,100.0,94112,1,2.7,2,0,Rent,0,0,0,0.0,0
4,5,35,M,8,45.0,91330,4,1.0,2,0,Rent,0,0,0,0.0,1

3.DATA INFORMATION

In [375]:
data.dtypes

ID                      int64
Age                     int64
Gender                 object
Experience              int64
Income                float64
ZIP Code                int64
Family                  int64
CCAvg                 float64
Education               int64
Mortgage                int64
Home Ownership         object
Personal Loan          object
Securities Account      int64
CD Account              int64
Online                float64
CreditCard              int64
dtype: object

In [242]:
data.describe()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Securities Account,CD Account,Online,CreditCard
count,5000.000000,5000.000000,5000.000000,4933.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,4960.000000,5000.000000
mean,2500.500000,46.008200,20.104600,72.758159,93152.503000,2.396400,1.937913,1.880600,56.498800,0.104400,0.06040,0.596976,0.294000
std,1443.520003,25.444898,11.467954,45.425519,2121.852197,1.147663,1.747666,0.839812,101.713802,0.305809,0.23825,0.490555,0.455637
min,1.000000,0.000000,-3.000000,8.000000,9307.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,1250.750000,35.000000,10.000000,39.000000,91911.000000,1.000000,0.700000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000
50%,2500.500000,45.000000,20.000000,63.000000,93437.000000,2.000000,1.500000,2.000000,0.000000,0.000000,0.00000,1.000000,0.000000
75%,3750.250000,55.000000,30.000000,95.000000,94608.000000,3.000000,2.500000,3.000000,101.000000,0.000000,0.00000,1.000000,1.000000
max,5000.000000,978.000000,43.000000,224.000000,96651.000000,4.000000,10.000000,3.000000,635.000000,1.000000,1.00000,1.000000,1.000000

In [243]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Gender              3404 non-null   object
 3   Experience          5000 non-null   int64
 4   Income              4933 non-null   float64
 5   ZIP Code            5000 non-null   int64
 6   Family              5000 non-null   int64
 7   CCAvg               5000 non-null   float64
 8   Education           5000 non-null   int64
 9   Mortgage            5000 non-null   int64
 10  Home Ownership      3811 non-null   object
 11  Personal Loan       5000 non-null   object
 12  Securities Account  5000 non-null   int64
 13  CD Account          5000 non-null   int64
 14  Online              4960 non-null   float64
 15  CreditCard          5000 non-null   int64
dtypes: float64(3), int64(10), object(3)
memory usage: 625.1+ KB

4.Null value handaling

In [244]:
data.isnull().sum()*100/len(data)

ID                     0.00
Age                    0.00
Gender                31.92
Experience             0.00
Income                 1.34
ZIP Code               0.00
Family                 0.00
CCAvg                  0.00
Education              0.00
Mortgage               0.00
Home Ownership        23.78
Personal Loan          0.00
Securities Account     0.00
CD Account             0.00
Online                 0.80
CreditCard             0.00
dtype: float64

In [245]:
columns_array = np.array(data.columns)

for c in columns_array:
    uniq= data[c].unique()
    print(c,uniq)

ID [   1    2    3 ... 4998 4999 5000]
Age [ 25  45  39  35  37  53  50  34  65  29  48  59  67  60  38  42  46  55
  56  57  44  36  43  40  30  31  51  32  97  61 567  41  28  49  47  62
  58   0  33  27  13  54  66  24  52 122  26  64  63  23 978   2   4 786
 600   7   8 797]
Gender ['M' 'F' 'O' nan '#' '-']
Experience [ 1 19 15  9  8 13 27 24 10 39  5 23 32 41 30 14 18 21 28 31 11 16 20 35
  6 25  7 12 26 37 17  2 36 29  3 22 -1 34  0 38 40 33  4 -2 42 -3 43]
Income [ 49.  34.  11. 100.  45.  29.  72.  22.  81. 180. 105. 114.  40. 112.
 130. 193.  21.  25.  63.  62.  43. 152.  83. 158.  48.  nan  35.  41.
  18.  50. 121.  71.  80.  84.  60. 132. 104.  52. 194.   8. 131. 190.
  44. 139.  93. 188.  39. 125.  32.  20. 115.  69.  85. 135.  12.  19.
  82. 109.  42.  78.  51. 113. 118.  64. 161.  94.  15.  74.  30.  38.
   9.  92.  61.  73.  70. 149.  98. 128.  31.  58.  54. 124. 163.  24.
  79. 134.  23.  13. 138. 171. 168.  65.  10. 148. 159. 169. 144. 165.
  59.  68.  91. 172.  55. 155.  53.  89.  28.  75. 170. 120.  99. 111.
  33. 129. 122. 150. 195. 119. 110. 101. 191. 140. 153. 173. 141. 174.
  90. 133. 179. 145. 200. 183. 182.  88. 160. 205. 164.  14. 175. 103.
 108. 185. 204. 154. 102. 192. 202. 162. 142.  95. 184. 181. 143. 178.
 123. 198. 201. 203. 189. 151. 199. 224. 218.]
ZIP Code [91107 90089 94720 94112 91330 92121 91711 93943 93023 94710 90277 93106
 94920 91741 95054 95010 94305 91604 94015 90095 91320 95521 95064 90064
 94539 94104 94117 94801 94035 92647 95814 94114 94115 92672 94122 90019
 95616 94065 95014 91380 95747 92373 92093 94005 90245 95819 94022 90404
 93407 94523 90024 91360 95670 95123 90045 91335 93907 92007 94606 94611
 94901 92220 93305 95134 94612 92507 91730 94501 94303 94105 94550 92612
 95617 92374 94080 94608 93555 93311 94704 92717 92037 95136 94542 94143
 91775 92703 92354 92024 92831 92833 94304 90057 92130 91301 92096 92646
 92182 92131 93720 90840 95035 93010 94928 95831 91770 90007 94102 91423
 93955 94107 92834 93117 94551 94596 94025 94545 95053 90036 91125 95120
 94706 95827 90503 90250 95817 95503 93111 94132 95818 91942 90401 93524
 95133 92173 94043 92521 92122 93118 92697 94577 91345 94123 92152 91355
 94609 94306 96150 94110 94707 91326 90291 92807 95051 94085 92677 92614
 92626 94583 92103 92691 92407 90504 94002 95039 94063 94923 95023 90058
 92126 94118 90029 92806 94806 92110 94536 90623 92069 92843 92120 95605
 90740 91207 95929 93437 90630 90034 90266 95630 93657 92038 91304 92606
 92192 90745 95060 94301 92692 92101 94610 90254 94590 92028 92054 92029
 93105 91941 92346 94402 94618 94904  9307 95482 91709 91311 94509 92866
 91745 94111 94309 90073 92333 90505 94998 94086 94709 95825 90509 93108
 94588 91706 92109 92068 95841 92123 91342 90232 92634 91006 91768 90028
 92008 95112 92154 92115 92177 90640 94607 92780 90009 92518 91007 93014
 94024 90027 95207 90717 94534 94010 91614 94234 90210 95020 92870 92124
 90049 94521 95678 95045 92653 92821 90025 92835 91910 94701 91129 90071
 96651 94960 91902 90033 95621 90037 90005 93940 91109 93009 93561 95126
 94109 93107 94591 92251 92648 92709 91754 92009 96064 91103 91030 90066
 95403 91016 95348 91950 95822 94538 92056 93063 91040 92661 94061 95758
 96091 94066 94939 95138 95762 92064 94708 92106 92116 91302 90048 90405
 92325 91116 92868 90638 90747 93611 95833 91605 92675 90650 95820 90018
 93711 95973 92886 95812 91203 91105 95008 90016 90035 92129 90720 94949
 90041 95003 95192 91101 94126 90230 93101 91365 91367 91763 92660 92104
 91361 90011 90032 95354 94546 92673 95741 95351 92399 90274 94087 90044
 94131 94124 95032 90212 93109 94019 95828 90086 94555 93033 93022 91343
 91911 94803 94553 95211 90304 92084 90601 92704 92350 94705 93401 90502
 94571 95070 92735 95037 95135 94028 96003 91024 90065 95405 95370 93727
 92867 95821 94566 95125 94526 94604 96008 93065 96001 95006 90639 92630
 95307 91801 94302 91710 93950 90059 94108 94558 93933 92161 94507 94575
 95449 93403 93460 95005 93302 94040 91401 95816 92624 95131 94965 91784
 91765 90280 95422 95518 95193 92694 90275 90272 91791 92705 91773 93003
 90755 96145 94703 96094 95842 94116 90068 94970 90813 94404 94598]
Family [4 3 1 2]
CCAvg [ 1.6         1.5         1.          2.7         0.4         0.3
  0.6         8.9         2.4         0.1         3.8         2.5
  2.          4.7         8.1         0.5         0.9         1.2
  0.7         3.9         0.2         2.2         3.3         1.8
  2.9         1.4         5.          2.3         1.1         5.7
  4.5         2.1         8.          1.7         0.          2.8
  3.5         4.          2.6         1.3         5.6         5.2
  3.          4.6         3.6         7.2         1.75        7.4
  2.66666667  7.5         6.5         7.8         7.9         4.1
  1.9         4.3         6.8         5.1         3.1         0.8
  3.7         6.2         0.75        2.33333333  4.9         0.66666667
  3.2         5.5         6.9         4.33333333  7.3         4.2
  4.4         6.1         6.33333333  6.6         5.3         3.4
  7.          6.3         8.3         6.          1.66666667  8.6
  7.6         6.4        10.          5.9         5.4         8.8
  1.33333333  9.          6.7         4.25        6.66666667  5.8
  4.8         3.25        5.66666667  8.5         4.75        4.66666667
  3.66666667  8.2         3.33333333  5.33333333  9.3         2.75      ]
Education [1 2 3]
Mortgage [  0 155 104 134 111 260 163 159  97 122 193 198 285 412 153 211 207 240
 455 112 336 132 118 174 126 236 166 136 309 103 366 101 251 276 161 149
 188 116 135 244 164  81 315 140  95  89  90 105 100 282 209 249  91  98
 145 150 169 280  99  78 264 113 117 325 121 138  77 158 109 131 391  88
 129 196 617 123 167 190 248  82 402 360 392 185 419 270 148 466 175 147
 220 133 182 290 125 124 224 141 119 139 115 458 172 156 547 470 304 221
 108 179 271 378 176  76 314  87 203 180 230 137 152 485 300 272 144  94
 208 275  83 218 327 322 205 227 239  85 160 364 449  75 107  92 187 355
 106 587 214 307 263 310 127 252 170 265 177 305 372  79 301 232 289 212
 250  84 130 303 256 259 204 524 157 231 287 247 333 229 357 361 294  86
 329 142 184 442 233 215 394 475 197 228 297 128 241 437 178 428 162 234
 257 219 337 382 397 181 120 380 200 433 222 483 154 171 146 110 201 277
 268 237 102  93 354 195 194 238 226 318 342 266 114 245 341 421 359 565
 319 151 267 601 567 352 284 199  80 334 389 186 246 589 242 143 323 535
 293 398 343 255 311 446 223 262 422 192 217 168 299 505 400 165 183 326
 298 569 374 216 191 408 406 452 432 312 477 396 582 358 213 467 331 295
 235 635 385 328 522 496 415 461 344 206 368 321 296 373 292 383 427 189
 202  96 429 431 286 508 210 416 553 403 225 500 313 410 273 381 330 345
 253 258 351 353 308 278 464 509 243 173 481 281 306 577 302 405 571 581
 550 283 612 590 541]
Home Ownership ['Home Owner' 'Rent' 'Home Mortage' nan]
Personal Loan [0 1 ' ']
Securities Account [1 0]
CD Account [0 1]
Online [ 0.  1. nan]
CreditCard [0 1]

Drope null value less than 5%

In [434]:
data.dropna(subset=['Income','Online'],inplace=True,axis=0)
data.reset_index(drop=True,inplace=True)

In [ ]:
data['Gender'].value_counts()

Replace non-standard value with standard value

In [435]:
data.replace("#",np.nan,inplace=True)
data.replace("-",np.nan,inplace=True)

Replace non-standard value with standard value

In [436]:
data.replace(" ",np.nan,inplace=True)

In [ ]:
data['Personal Loan'].value_counts()

Drope null value less than 5%

In [437]:
data.dropna(subset=['Personal Loan'],inplace=True,axis=0)
data.reset_index(drop=True,inplace=True)

In [ ]:
data.isnull().sum()

In [ ]:
# Visualize empty value
sns.heatmap(data.isnull(),yticklabels=False,cbar=False,cmap='viridis')

In [ ]:
# data['Gender']
data['Gender'].value_counts(normalize=True)

In [ ]:
sns.distplot(data['Age'])

In [ ]:
# Visualize the  distribution of 'Gender'
sns.histplot(data['Gender'], kde=True)

Replace null value with mode

In [438]:
from sklearn.impute import SimpleImputer
mode = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
data['Gender']=mode.fit_transform(data[['Gender']])

ownership_mode = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
data['Home Ownership']=mode.fit_transform(data[['Home Ownership']])

In [ ]:
data.head(5)

Data Visualization And  outliers Management

In [ ]:
def Graphplot(column):
    sns.distplot(data[column])

In [ ]:
Graphplot('Age')

In [ ]:
def Boxplot(column):
    sns.boxplot(data[column])

In [ ]:
Boxplot('Age')

In [ ]:
sns.boxplot(new_data['Age'])

In [ ]:
sns.boxplot(data['Age'])

Percentile Method

In [ ]:
data

In [408]:
# find the number of outliers function
def NumberOutliers(column,df):
    # find limit
    upper_limit =df[column].quantile(0.99)
    lower_limit =df[column].quantile(0.01)
    # find the outlier 
    out=df.loc[(df[column] >upper_limit) | (df[column] < lower_limit)]
    return len(out)

In [308]:
# find the number of outliers in each column
Total_outlier = []
columns = data.head(0)
for c in columns:
    if data[c].dtype in ['int64','float64']:
        num = NumberOutliers(c, data)
        Total_outlier.append((c, num))
Total_outlier

[('ID', 98),
 ('Age', 88),
 ('Experience', 30),
 ('Income', 69),
 ('ZIP Code', 73),
 ('Family', 0),
 ('CCAvg', 47),
 ('Education', 0),
 ('Mortgage', 48),
 ('Personal Loan', 0),
 ('Securities Account', 0),
 ('CD Account', 0),
 ('Online', 0),
 ('CreditCard', 0)]

In [439]:
# Capping Outliers function
def RemoveOutliers(column,df):
    # find limit
    upper_limit =df[column].quantile(0.99)
    lower_limit =df[column].quantile(0.01)
    # find the outlier 
    out=df.loc[(df[column] >upper_limit) | (df[column] < lower_limit)]
    # capping outlier 
    df.loc[(df[column]>upper_limit),column] = upper_limit
    df.loc[(df[column]<lower_limit),column] = lower_limit
    return df

In [440]:
# Capp outliers from each column
columns = data.head(0)
for c in columns:
    if data[c].dtype in ['int64','float64']:
        RemoveOutliers(c,data)

categorical data handeling

In [383]:
data

,ID,Age,Gender,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Home Ownership,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,52.93,25,M,1,49.0,91107,4,1.6,1,0,Home Owner,0.0,1,0,0.0,0
1,52.93,45,M,19,34.0,90089,3,1.5,1,0,Rent,0.0,1,0,0.0,0
2,52.93,39,M,15,11.0,94720,1,1.0,1,0,Rent,0.0,0,0,0.0,0
3,52.93,35,M,9,100.0,94112,1,2.7,2,0,Rent,0.0,0,0,0.0,0
4,52.93,35,M,8,45.0,91330,4,1.0,2,0,Rent,0.0,0,0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4889,4950.07,29,M,3,40.0,92697,1,1.9,3,0,Home Mortage,0.0,0,0,1.0,0
4890,4950.07,30,M,4,15.0,92037,4,0.4,1,85,Home Mortage,0.0,0,0,1.0,0
4891,4950.07,63,M,39,24.0,93023,2,0.3,3,0,Home Mortage,0.0,0,0,0.0,0
4892,4950.07,65,M,40,49.0,90034,3,0.5,2,0,Home Mortage,0.0,0,0,1.0,0
4893,4950.07,28,M,4,83.0,92612,3,0.8,1,0,Home Mortage,0.0,0,0,1.0,1

In [313]:
data.isnull().sum()

ID                    0
Age                   0
Gender                0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Home Ownership        0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

Using onehotkey encoding

In [441]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
categorical_val=ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[2,10])],remainder='passthrough')
data =pd.DataFrame(categorical_val.fit_transform(data))

In [442]:
# data.columns =['Home Mortage','Rent','Home Owner','M','F','O','ID','Age','Experience','Income','ZIP Code','Family','CCAvg','Education','Mortgage','Personal Loan','Securities Account','CD Account','Online','CreditCard']
data.columns =['Female','Male','Other','Home Mortage','Home Owner','Rent','ID','Age','Experience','Income','ZIP Code','Family','CCAvg','Education','Mortgage','Personal Loan','Securities Account','CD Account','Online','CreditCard']

In [386]:
count_negative_valuess = np.sum(data < 0)
count_negative_valuess

Female                 0
Male                   0
Other                  0
Home Mortage           0
Home Owner             0
Rent                   0
ID                     0
Age                    0
Experience            52
Income                 0
ZIP Code               0
Family                 0
CCAvg                  0
Education              0
Mortgage               0
Personal Loan          0
Securities Account     0
CD Account             0
Online                 0
CreditCard             0
dtype: int64

In [415]:
data = np.abs(data)

In [443]:
# Save the modified Dataset to a new file
data.to_csv('../resources/data/modified_data.csv', index=False)

In [444]:
data_sec = pd.read_csv('../resources/data/modified_data.csv')

In [418]:
data_sec

,Female,Male,Other,Home Mortage,Home Owner,Rent,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,0.0,1.0,0.0,0.0,1.0,0.0,52.93,25.0,1.0,49.0,91107.0,4.0,1.6,1.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,1.0,52.93,45.0,19.0,34.0,90089.0,3.0,1.5,1.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,1.0,52.93,39.0,15.0,11.0,94720.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,1.0,52.93,35.0,9.0,100.0,94112.0,1.0,2.7,2.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,1.0,52.93,35.0,8.0,45.0,91330.0,4.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4889,0.0,1.0,0.0,1.0,0.0,0.0,4950.07,29.0,3.0,40.0,92697.0,1.0,1.9,3.0,0.0,0.0,0.0,0.0,1.0,0.0
4890,0.0,1.0,0.0,1.0,0.0,0.0,4950.07,30.0,4.0,15.0,92037.0,4.0,0.4,1.0,85.0,0.0,0.0,0.0,1.0,0.0
4891,0.0,1.0,0.0,1.0,0.0,0.0,4950.07,63.0,39.0,24.0,93023.0,2.0,0.3,3.0,0.0,0.0,0.0,0.0,0.0,0.0
4892,0.0,1.0,0.0,1.0,0.0,0.0,4950.07,65.0,40.0,49.0,90034.0,3.0,0.5,2.0,0.0,0.0,0.0,0.0,1.0,0.0
4893,0.0,1.0,0.0,1.0,0.0,0.0,4950.07,28.0,4.0,83.0,92612.0,3.0,0.8,1.0,0.0,0.0,0.0,0.0,1.0,1.0

In [445]:
data_sec.drop(columns=['ID'], inplace=True)

In [ ]:
data_sec

# DEFINE Dependent And Independent Variable and splitt data X and y train and test

In [446]:
X=data_sec.drop('Personal Loan',axis=1)
Y=data_sec['Personal Loan']

In [447]:
X.describe()

,Female,Male,Other,Home Mortage,Home Owner,Rent,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Securities Account,CD Account,Online,CreditCard
count,4894.000000,4894.000000,4894.000000,4894.000000,4894.000000,4894.000000,4894.000000,4894.000000,4894.000000,4894.000000,4894.000000,4894.000000,4894.000000,4894.000000,4894.000000,4894.000000,4894.000000,4894.000000
mean,0.318758,0.663057,0.018186,0.582141,0.229669,0.188190,45.351451,20.106457,72.173273,93160.882509,2.387413,1.892675,1.872701,54.786882,0.104618,0.054352,0.596240,0.292195
std,0.466042,0.472714,0.133636,0.493257,0.420663,0.390903,11.453828,11.448135,44.958411,1753.519711,1.146126,1.693399,0.839902,96.297429,0.306092,0.226735,0.490701,0.454818
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,25.000000,-1.000000,9.000000,90024.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,35.000000,10.000000,38.000000,91911.000000,1.000000,0.700000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,45.000000,20.000000,63.000000,93407.000000,2.000000,1.500000,2.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,55.000000,30.000000,93.000000,94608.000000,3.000000,2.500000,3.000000,100.000000,0.000000,0.000000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,65.000000,41.000000,193.000000,95929.000000,4.000000,7.900000,3.000000,428.000000,1.000000,1.000000,1.000000,1.000000

In [448]:
from sklearn.model_selection import train_test_split
# splitt dataset in train and test
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=42)

In [449]:
X_train.shape,X_test.shape

((3915, 18), (979, 18))

FEATURE SCALING using Standardization

In [450]:
# Feature Scaling Using Standardization
from sklearn.preprocessing import StandardScaler
sc =StandardScaler()
# featuring scaling (standardization) for train dataset
X_train.iloc[:,[6, 7, 8, 9, 10,11, 12,13]] = sc.fit_transform(X_train.iloc[:,[6, 7, 8, 9, 10,11, 12,13]])

# featuring scaling (standardization) for test dataset
X_test.iloc[:,[6, 7, 8, 9, 10,11, 12,13]] = sc.transform(X_test.iloc[:,[6, 7, 8, 9, 10,11, 12,13]])

In [423]:
# Feature Scaling Using Normalization
# from sklearn.preprocessing import MinMaxScaler
# MN =MinMaxScaler()
# # featuring scaling (standardization) for train dataset
# X_train.iloc[:,[6, 7, 8, 9, 10,11, 12,13]] = MN.fit_transform(X_train.iloc[:,[6, 7, 8, 9, 10,11, 12,13]])

# # featuring scaling (standardization) for test dataset
# X_test.iloc[:,[6, 7, 8, 9, 10,11, 12,13]] = MN.transform(X_test.iloc[:,[6, 7, 8, 9, 10,11, 12,13]])

In [451]:
X_train.describe()

,Female,Male,Other,Home Mortage,Home Owner,Rent,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Securities Account,CD Account,Online,CreditCard
count,3915.000000,3915.000000,3915.000000,3915.000000,3915.000000,3915.000000,3.915000e+03,3.915000e+03,3.915000e+03,3.915000e+03,3.915000e+03,3.915000e+03,3.915000e+03,3.915000e+03,3915.000000,3915.000000,3915.000000,3915.000000
mean,0.315709,0.666411,0.017880,0.588506,0.226820,0.184674,-3.402982e-17,-1.860297e-17,-1.515462e-16,-4.070874e-15,5.717011e-17,-1.801312e-16,1.461014e-16,3.085371e-17,0.104981,0.057471,0.597446,0.293231
std,0.464857,0.471555,0.132532,0.492167,0.418829,0.388083,1.000128e+00,1.000128e+00,1.000128e+00,1.000128e+00,1.000128e+00,1.000128e+00,1.000128e+00,1.000128e+00,0.306568,0.232771,0.490475,0.455302
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.785196e+00,-1.851067e+00,-1.400858e+00,-1.782757e+00,-1.209323e+00,-1.126768e+00,-1.041063e+00,-5.681940e-01,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-9.139074e-01,-8.919596e-01,-7.599861e-01,-7.106336e-01,-1.209323e+00,-7.112557e-01,-1.041063e+00,-5.681940e-01,0.000000,0.000000,0.000000,0.000000
50%,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,4.451028e-02,-2.004404e-02,-2.075106e-01,1.403572e-01,-3.378891e-01,-2.363844e-01,1.527747e-01,-5.681940e-01,0.000000,0.000000,1.000000,0.000000
75%,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,8.286702e-01,8.518716e-01,4.775590e-01,8.230826e-01,5.335443e-01,3.572047e-01,1.346613e+00,4.712775e-01,0.000000,0.000000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.699959e+00,1.810979e+00,2.665362e+00,1.574024e+00,1.404978e+00,3.562586e+00,1.346613e+00,3.880744e+00,1.000000,1.000000,1.000000,1.000000

Perform PCA

In [452]:
# Pca perform for feature selection 
from sklearn.decomposition import PCA
pca =PCA(0.95)
X_train_pca=pca.fit_transform(X_train)
X_test_pca=pca.transform(X_test)
# dtf =pd.DataFrame(X_pca,columns=data.columns)
X_train_pca.shape,X_test_pca.shape

((3915, 11), (979, 11))

MODEL TRAIN AND TEST

In [453]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score
from sklearn.model_selection import cross_val_score
import joblib 

def Train_Test_Model(model,X_train,Y_train,X_test,Y_test,X,Y):
    model.fit(X_train,Y_train)
    pre=model.predict(X_test)
    acc=accuracy_score(Y_test,pre)
    scor=cross_val_score(model,X,Y,cv=5)
    crossscor =np.mean(scor)*100
    precision = precision_score(Y_test, pre)
    recall = recall_score(Y_test, pre)
    # joblib.dump(model,f'{model}_SAVED_Trained_MODELL')
    joblib.dump(model,f'../resources/model/{model}_SAVED_Trained_MODELL')
    return crossscor,acc,precision,recall

In [454]:
# using different model
model =[LogisticRegression(),SVC(),DecisionTreeClassifier(),RandomForestClassifier()]
accuracy_array = []
for m in model:
    crossscor,acc,precision,recall =Train_Test_Model(m,X_train_pca,Y_train,X_test_pca,Y_test,X_train_pca,Y_train)
    accuracy_array.append((m,crossscor,acc,precision,recall))

In [455]:
accuracy_array

[(LogisticRegression(),
  95.5044699872286,
  0.9540347293156282,
  0.6875,
  0.5238095238095238),
 (SVC(),
  97.42017879948915,
  0.9795709908069459,
  0.9574468085106383,
  0.7142857142857143),
 (DecisionTreeClassifier(),
  94.61047254150702,
  0.9601634320735445,
  0.6875,
  0.6984126984126984),
 (RandomForestClassifier(),
  96.39846743295021,
  0.9683350357507661,
  0.8636363636363636,
  0.6031746031746031)]

Hyper parameter Tunning

In [456]:
from sklearn.model_selection import RandomizedSearchCV
logistic_params = {
    'C': np.logspace(-4,4,20),
    'solver': ['liblinear']
}
svm_params = {
    'C': [0.1, 1, 10],
    'kernel': ['linear', 'rbf', 'poly'],
    'gamma': ['scale', 'auto']
}
rf_params = {
    'n_estimators': [50, 100, 150],
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}
decision_tree_params = {
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'criterion': ['gini', 'entropy']
}
models =[(LogisticRegression(),logistic_params),(SVC(),svm_params),(RandomForestClassifier(),rf_params),(DecisionTreeClassifier(),decision_tree_params)]
best_array =[]
for model, params in models:
    hyper = RandomizedSearchCV(model, params, n_iter=18, cv=5, scoring='accuracy', random_state=42)
    hyper.fit(X_train_pca, Y_train)
    best_para=hyper.best_params_
    best_array.append((model,best_para))

In [457]:
best_array

[(LogisticRegression(), {'solver': 'liblinear', 'C': 1.623776739188721}),
 (SVC(), {'kernel': 'rbf', 'gamma': 'auto', 'C': 10}),
 (RandomForestClassifier(),
  {'n_estimators': 100,
   'min_samples_split': 5,
   'min_samples_leaf': 1,
   'max_depth': None}),
 (DecisionTreeClassifier(),
  {'min_samples_split': 5,
   'min_samples_leaf': 4,
   'max_depth': 20,
   'criterion': 'entropy'})]

In [479]:
new_model =[LogisticRegression(C=0.615848211066026,solver='liblinear'),SVC(C =10, kernel ='rbf', gamma='scale'),DecisionTreeClassifier(min_samples_split=2,min_samples_leaf=2,max_depth = 10,criterion='gini'),RandomForestClassifier(n_estimators=100, *, criterion='gini', max_depth=None, min_samples_split=2, min_samples_leaf=1, min_weight_fraction_leaf=0.0, max_features='sqrt', max_leaf_nodes=None, min_impurity_decrease=0.0, bootstrap=True, oob_score=False, n_jobs=None, random_state=None, verbose=0, warm_start=False, class_weight=None, ccp_alpha=0.0, max_samples=None, monotonic_cst=None)]
# using different model
accuracy_arrays = []
for m in new_model:
    crossscor,acc,precision,recall =Train_Test_Model(m,X_train_pca,Y_train,X_test_pca,Y_test,X_train_pca,Y_train)
    accuracy_arrays.append((m,crossscor,acc,precision,recall))

In [480]:
accuracy_arrays

[(LogisticRegression(C=0.615848211066026, solver='liblinear'),
  95.45338441890166,
  0.9540347293156282,
  0.6875,
  0.5238095238095238),
 (SVC(C=10, gamma='auto', kernel='poly'),
  97.52234993614304,
  0.9734422880490297,
  0.8245614035087719,
  0.746031746031746),
 (DecisionTreeClassifier(max_depth=10, min_samples_leaf=2),
  95.07024265644957,
  0.9611848825331971,
  0.7659574468085106,
  0.5714285714285714),
 (RandomForestClassifier(),
  96.32183908045977,
  0.9703779366700716,
  0.9047619047619048,
  0.6031746031746031)]

In [ ]:
import joblib
import pandas as pd
saved_model = joblib.load('DecisionTreeClassifier(min_samples_leaf=2)_SAVED_Trained_MODEL')

In [ ]:
testing_frame=pd.DataFrame({
    'Female':0,
    'Male':1,
    'Other':0,
    'Home Mortage':0,
    'Home Owner':0,
    'Rent':1,
    'Age':0.044510,
    'Experience':1.200638,
    'Income':1.007935,
    'Family':-0.337889,
    'CCAvg':1.544383,
    'Education':1.0,
    'Mortgage':-0.568194,
    'Securities Account':0.0,
    'CD Account':0.0,
    'Online':0.0,
    'CreditCard':0.0
                  },index=[0])

In [ ]:
testing_frame

In [ ]:
saved_model.predict(testing_frame)

In [ ]:
X_test

In [ ]:
Y_test