1.Importing Library

In [7]:
import pandas as pd
import numpy as np
import seaborn as sns

2.Import data

In [8]:
data = pd.read_excel('../resources/data/loan_data.xlsx')
data.head()

,ID,Age,Gender,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Home Ownership,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,M,1,49.0,91107,4,1.6,1,0,Home Owner,0,1,0,0.0,0
1,2,45,M,19,34.0,90089,3,1.5,1,0,Rent,0,1,0,0.0,0
2,3,39,M,15,11.0,94720,1,1.0,1,0,Rent,0,0,0,0.0,0
3,4,35,M,9,100.0,94112,1,2.7,2,0,Rent,0,0,0,0.0,0
4,5,35,M,8,45.0,91330,4,1.0,2,0,Rent,0,0,0,0.0,1

3.DATA INFORMATION

In [ ]:
data.dtypes

In [ ]:
data.describe()

In [ ]:
data.info()

4.Null value handaling

In [ ]:
data.isnull().sum()*100/len(data)

In [ ]:
columns_array = np.array(data.columns)

for c in columns_array:
    uniq= data[c].unique()
    print(c,uniq)

Drope null value less than 5%

In [9]:
data.dropna(subset=['Income','Online'],inplace=True,axis=0)
data.reset_index(drop=True,inplace=True)

In [ ]:
data['Gender'].value_counts()

Replace non-standard value with standard value

In [10]:
data.replace("#",np.nan,inplace=True)
data.replace("-",np.nan,inplace=True)

Replace non-standard value with standard value

In [11]:
data.replace(" ",np.nan,inplace=True)

In [ ]:
data['Personal Loan'].value_counts()

Drope null value less than 5%

In [12]:
data.dropna(subset=['Personal Loan'],inplace=True,axis=0)
data.reset_index(drop=True,inplace=True)

Replace null value with mode

In [13]:
from sklearn.impute import SimpleImputer
gender_mode = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
data['Gender']=gender_mode.fit_transform(data[['Gender']])

ownership_mode = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
data['Home Ownership']=gender_mode.fit_transform(data[['Home Ownership']])

In [ ]:
data.head(5)

Data Visualization And  outliers Management

In [ ]:
def Graphplot(column):
    sns.distplot(data[column])

In [ ]:
Graphplot('Age')

In [ ]:
def Boxplot(column):
    sns.boxplot(data[column])

In [ ]:
Boxplot('Age')

In [ ]:
sns.boxplot(new_data['Age'])

In [ ]:
sns.boxplot(data['Age'])

Percentile Method

In [ ]:
data

In [14]:
# find the number of outliers function
def NumberOutliers(column,df):
    # find limit
    upper_limit =df[column].quantile(0.99)
    lower_limit =df[column].quantile(0.01)
    # find the outlier 
    out=df.loc[(df[column] >upper_limit) | (df[column] < lower_limit)]
    return len(out)

In [15]:
# find the number of outliers in each column
Total_outlier = []
columns = data.head(0)
for c in columns:
    if data[c].dtype in ['int64','float64']:
        num = NumberOutliers(c, data)
        Total_outlier.append((c, num))
Total_outlier

[('ID', 98),
 ('Age', 88),
 ('Experience', 30),
 ('Income', 69),
 ('ZIP Code', 73),
 ('Family', 0),
 ('CCAvg', 47),
 ('Education', 0),
 ('Mortgage', 48),
 ('Personal Loan', 0),
 ('Securities Account', 0),
 ('CD Account', 0),
 ('Online', 0),
 ('CreditCard', 0)]

In [16]:
# Capping Outliers function
def RemoveOutliers(column,df):
    # find limit
    upper_limit =df[column].quantile(0.99)
    lower_limit =df[column].quantile(0.01)
    # find the outlier 
    out=df.loc[(df[column] >upper_limit) | (df[column] < lower_limit)]
    # capping outlier 
    df.loc[(df[column]>upper_limit),column] = upper_limit
    df.loc[(df[column]<lower_limit),column] = lower_limit
    return df

In [17]:
# Capp outliers from each column
columns = data.head(0)
for c in columns:
    if data[c].dtype in ['int64','float64']:
        RemoveOutliers(c,data)

categorical data handeling

In [ ]:
data

Using onehotkey encoding

In [18]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
categorical_val=ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[2,10])],remainder='passthrough')
data =pd.DataFrame(categorical_val.fit_transform(data))

In [19]:
# data.columns =['Home Mortage','Rent','Home Owner','M','F','O','ID','Age','Experience','Income','ZIP Code','Family','CCAvg','Education','Mortgage','Personal Loan','Securities Account','CD Account','Online','CreditCard']
data.columns =['Female','Male','Other','Home Mortage','Home Owner','Rent','ID','Age','Experience','Income','ZIP Code','Family','CCAvg','Education','Mortgage','Personal Loan','Securities Account','CD Account','Online','CreditCard']

In [20]:
count_negative_valuess = np.sum(data < 0)
count_negative_valuess

Female                 0
Male                   0
Other                  0
Home Mortage           0
Home Owner             0
Rent                   0
ID                     0
Age                    0
Experience            52
Income                 0
ZIP Code               0
Family                 0
CCAvg                  0
Education              0
Mortgage               0
Personal Loan          0
Securities Account     0
CD Account             0
Online                 0
CreditCard             0
dtype: int64

In [21]:
data = np.abs(data)

In [22]:
# Save the modified Dataset to a new file
data.to_csv('../resources/data/modified_data.csv', index=False)

In [24]:
data_sec = pd.read_csv('../resources/data/modified_data.csv')

In [25]:
data_sec

,Female,Male,Other,Home Mortage,Home Owner,Rent,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,0.0,1.0,0.0,0.0,1.0,0.0,52.93,25.0,1.0,49.0,91107.0,4.0,1.6,1.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,1.0,52.93,45.0,19.0,34.0,90089.0,3.0,1.5,1.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,1.0,52.93,39.0,15.0,11.0,94720.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,1.0,52.93,35.0,9.0,100.0,94112.0,1.0,2.7,2.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,1.0,52.93,35.0,8.0,45.0,91330.0,4.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4889,0.0,1.0,0.0,1.0,0.0,0.0,4950.07,29.0,3.0,40.0,92697.0,1.0,1.9,3.0,0.0,0.0,0.0,0.0,1.0,0.0
4890,0.0,1.0,0.0,1.0,0.0,0.0,4950.07,30.0,4.0,15.0,92037.0,4.0,0.4,1.0,85.0,0.0,0.0,0.0,1.0,0.0
4891,0.0,1.0,0.0,1.0,0.0,0.0,4950.07,63.0,39.0,24.0,93023.0,2.0,0.3,3.0,0.0,0.0,0.0,0.0,0.0,0.0
4892,0.0,1.0,0.0,1.0,0.0,0.0,4950.07,65.0,40.0,49.0,90034.0,3.0,0.5,2.0,0.0,0.0,0.0,0.0,1.0,0.0
4893,0.0,1.0,0.0,1.0,0.0,0.0,4950.07,28.0,4.0,83.0,92612.0,3.0,0.8,1.0,0.0,0.0,0.0,0.0,1.0,1.0

In [26]:
data_sec.drop(columns=['ID'], inplace=True)

In [ ]:
data_sec

# DEFINE Dependent And Independent Variable and splitt data X and y train and test

In [27]:
X=data_sec.drop('Personal Loan',axis=1)
Y=data_sec['Personal Loan']

In [28]:
X.describe()

,Female,Male,Other,Home Mortage,Home Owner,Rent,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Securities Account,CD Account,Online,CreditCard
count,4894.000000,4894.000000,4894.000000,4894.000000,4894.000000,4894.000000,4894.000000,4894.000000,4894.000000,4894.000000,4894.000000,4894.000000,4894.000000,4894.000000,4894.000000,4894.000000,4894.000000,4894.000000
mean,0.318758,0.663057,0.018186,0.582141,0.229669,0.188190,45.351451,20.127707,72.173273,93160.882509,2.387413,1.892675,1.872701,54.786882,0.104618,0.054352,0.596240,0.292195
std,0.466042,0.472714,0.133636,0.493257,0.420663,0.390903,11.453828,11.410724,44.958411,1753.519711,1.146126,1.693399,0.839902,96.297429,0.306092,0.226735,0.490701,0.454818
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,25.000000,0.000000,9.000000,90024.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,35.000000,10.000000,38.000000,91911.000000,1.000000,0.700000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,45.000000,20.000000,63.000000,93407.000000,2.000000,1.500000,2.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,55.000000,30.000000,93.000000,94608.000000,3.000000,2.500000,3.000000,100.000000,0.000000,0.000000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,65.000000,41.000000,193.000000,95929.000000,4.000000,7.900000,3.000000,428.000000,1.000000,1.000000,1.000000,1.000000

In [29]:
from sklearn.model_selection import train_test_split
# splitt dataset in train and test
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=42)

FEATURE SCALING using Standardization

In [30]:
# Feature Scaling Using Standardization
from sklearn.preprocessing import StandardScaler
sc =StandardScaler()
# featuring scaling (standardization) for train dataset
X_train.iloc[:,[6, 7, 8, 9, 10,11, 12,13]] = sc.fit_transform(X_train.iloc[:,[6, 7, 8, 9, 10,11, 12,13]])

# featuring scaling (standardization) for test dataset
X_test.iloc[:,[6, 7, 8, 9, 10,11, 12,13]] = sc.transform(X_test.iloc[:,[6, 7, 8, 9, 10,11, 12,13]])

In [ ]:
X_train.describe()

In [31]:
# Pca perform for feature selection 
from sklearn.decomposition import PCA
pca =PCA(0.95)
X_train_pca=pca.fit_transform(X_train)
X_test_pca=pca.transform(X_test)
# dtf =pd.DataFrame(X_pca,columns=data.columns)
X_train_pca.shape,X_test_pca.shape

((3915, 11), (979, 11))

MODEL TRAIN AND TEST

In [37]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score
from sklearn.model_selection import cross_val_score
import joblib 

def Train_Test_Model(model,X_train,Y_train,X_test,Y_test,X,Y):
    model.fit(X_train,Y_train)
    pre=model.predict(X_test)
    acc=accuracy_score(Y_test,pre)
    scor=cross_val_score(model,X,Y,cv=5)
    crossscor =np.mean(scor)*100
    precision = precision_score(Y_test, pre)
    recall = recall_score(Y_test, pre)
    # joblib.dump(model,f'{model}_SAVED_Trained_MODELL')
    joblib.dump(model,f'../resources/model/{model}_SAVED_Trained_MODELL')
    return crossscor,acc,precision,recall

In [38]:
# using different model
model =[LogisticRegression(),SVC(),DecisionTreeClassifier(),RandomForestClassifier()]
accuracy_array = []
for m in model:
    crossscor,acc,precision,recall =Train_Test_Model(m,X_train_pca,Y_train,X_test_pca,Y_test,X_train_pca,Y_train)
    accuracy_array.append((m,crossscor,acc,precision,recall))

In [39]:
accuracy_array

[(LogisticRegression(),
  95.5044699872286,
  0.9540347293156282,
  0.6875,
  0.5238095238095238),
 (SVC(),
  97.42017879948915,
  0.9795709908069459,
  0.9574468085106383,
  0.7142857142857143),
 (DecisionTreeClassifier(),
  94.55938697318007,
  0.9601634320735445,
  0.6935483870967742,
  0.6825396825396826),
 (RandomForestClassifier(),
  96.42401021711366,
  0.9713993871297242,
  0.8888888888888888,
  0.6349206349206349)]

Hyper parameter Tunning

In [ ]:
from sklearn.model_selection import RandomizedSearchCV
logistic_params = {
    'C': np.logspace(-4,4,20),
    'solver': ['liblinear']
}
svm_params = {
    'C': [0.1, 1, 10],
    'kernel': ['linear', 'rbf', 'poly'],
    'gamma': ['scale', 'auto']
}
rf_params = {
    'n_estimators': [50, 100, 200],
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}
decision_tree_params = {
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'criterion': ['gini', 'entropy']
}
models =[(LogisticRegression(),logistic_params),(SVC(),svm_params),(RandomForestClassifier(),rf_params),(DecisionTreeClassifier(),decision_tree_params)]
best_array =[]
for model, params in models:
    hyper = RandomizedSearchCV(model, params, n_iter=18, cv=5, scoring='accuracy', random_state=42)
    hyper.fit(X_train_pca, Y_train)
    best_para=hyper.best_params_
    best_array.append((model,best_para))

In [ ]:
best_array

In [ ]:
new_model =[LogisticRegression(C=1.623776739188721,solver='liblinear'),SVC(C =10, kernel ='rbf', gamma='auto'),DecisionTreeClassifier(min_samples_split=5,min_samples_leaf=4,max_depth = 20,criterion='entropy'),RandomForestClassifier(n_estimators=100, min_samples_split=5, min_samples_leaf=1, max_depth=None)]
# using different model
accuracy_arrays = []
for m in new_model:
    crossscor,acc,precision,recall =Train_Test_Model(m,X_train_pca,Y_train,X_test_pca,Y_test,X_train_pca,Y_train)
    accuracy_arrays.append((m,crossscor,acc,precision,recall))

In [ ]:
accuracy_arrays

In [ ]:
import joblib
import pandas as pd
saved_model = joblib.load('DecisionTreeClassifier(min_samples_leaf=2)_SAVED_Trained_MODEL')

In [ ]:
testing_frame=pd.DataFrame({
    'Female':0,
    'Male':1,
    'Other':0,
    'Home Mortage':0,
    'Home Owner':0,
    'Rent':1,
    'Age':0.044510,
    'Experience':1.200638,
    'Income':1.007935,
    'Family':-0.337889,
    'CCAvg':1.544383,
    'Education':1.0,
    'Mortgage':-0.568194,
    'Securities Account':0.0,
    'CD Account':0.0,
    'Online':0.0,
    'CreditCard':0.0
                  },index=[0])

In [ ]:
testing_frame

In [ ]:
saved_model.predict(testing_frame)

In [ ]:
X_test

In [ ]:
Y_test